body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: #232323;
  scroll-behavior: smooth;
}
body h1 {
  font-size: 2.5rem;
}
body h2 {
  font-size: 2rem;
}
body h3 {
  font-size: 1.75rem;
}
body h4 {
  font-size: 1.5rem;
}
body h5 {
  font-size: 1.25rem;
}
body h6 {
  font-size: 1rem;
}
body a {
  color: #000;
  text-decoration: none;
  transition: all 300ms ease-in;
}
body a:hover {
  color: #bb2649;
  transition: all 300ms ease-in;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: max-content;
}
main .btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5% 1.3% 0.5% 1.3%;
  border-radius: 20px;
  background-color: #bb2649;
  border: 1px solid transparent;
  color: #fff;
  font-size: 1rem;
  transition: all 300ms ease-out;
}
main .btn:hover {
  cursor: pointer;
  transform: scale(1.1);
  display: flex;
  transition: all 300ms ease-out;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #f0f0f0;
  width: 100%;
  box-sizing: border-box;
  padding: 0 3%;
}
header a p {
  font-size: 1.5rem;
  transition: all 300ms ease-in;
}
header a:hover {
  color: #bb2649;
  transition: all 300ms ease-in;
}
header .menu-toggle {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
}
header .menu-toggle i {
  color: #333;
}
header .main-nav {
  display: flex;
}
header .main-nav ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}
header .main-nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
header .main-nav ul li a:hover {
  color: #bb2649;
  transition: all 300ms ease-in;
}
@media (max-width: 768px) {
  header {
    justify-content: space-between;
  }
  header .menu-toggle {
    display: block;
  }
  header .main-nav {
    display: none;
    flex-direction: column;
    background-color: #fff;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 1rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  header .main-nav.active {
    display: flex;
  }
  header .main-nav ul {
    flex-direction: column;
    gap: 1rem;
  }
  header .main-nav ul li a {
    font-size: 1.2rem;
  }
}

.me {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  height: 90vh;
}
.me h1 {
  margin: 0;
}
.me h2 {
  margin: 0;
  font-size: 1.4rem;
  font-weight: 400;
}
.me p {
  margin: 5px 0 0 0;
}
.me img {
  border-radius: 100%;
  height: 30vw;
  width: 30vw;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70vh;
  color: #fff;
  background-color: #232323;
}
@keyframes scale-pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.about .attract-animation {
  display: inline-block;
  animation: scale-pulse 1.5s ease-in-out infinite;
}
.about .btn {
  margin: 1%;
}
.about .btn:hover {
  border: 1px solid #232323;
}
.about p {
  width: 50vw;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: max-content;
  min-height: 100vh;
}
.projects__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 0 10px 0;
  align-items: center;
  z-index: 3;
}
.projects__content .btns-more-projects {
  z-index: 4;
  margin: 50px 0;
}
.projects__content .btn-stack {
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding: 3% 0 0 0;
}
.projects__content .btn-stack .stack {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border: 1px solid #bb2649;
  color: #bb2649;
  border-radius: 3px;
  transition: all 300ms ease-out;
}
.projects__content .btn-stack .stack i {
  color: #bb2649;
  font-size: 1.7rem;
  transition: all 300ms ease-out;
}
.projects__content .btn-stack .stack:hover, .projects__content .btn-stack .stack:focus {
  cursor: pointer;
  border-color: #fff;
  transition: all 300ms ease-out;
  color: #fff;
  background-color: #bb2649;
}
.projects__content .btn-stack .stack:hover i, .projects__content .btn-stack .stack:focus i {
  color: #fff;
  transition: all 300ms ease-out;
}
.projects__content__cards {
  z-index: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 90%;
  padding: 50px 0 100px 0;
  transition: all 300ms ease;
}
.projects__content__cards .card {
  display: flex;
  flex-direction: column;
  height: 270px;
  width: 23vw;
  min-width: 300px;
  border: 1px solid #D1D1D1;
  border-radius: 5px;
  padding: 10px;
  transition: all 200ms ease-in;
}
.projects__content__cards .card__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 7px 10px 5px 10px;
}
.projects__content__cards .card__content > * {
  margin: 0;
}
.projects__content__cards .card__content .icons-stack {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-height: 25px;
}
.projects__content__cards .card__content .icons-stack i {
  font-size: 1.5rem;
  letter-spacing: 10px;
}
.projects__content__cards .card__content .icons-stack .icon-nuxt {
  height: 18px;
  padding-right: 7px;
}
.projects__content__cards .card__content .row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.projects__content__cards .card__content .row > * {
  margin: 0;
}
.projects__content__cards .card:hover {
  border-color: #808080;
  transition: all 200ms ease-out;
  color: #232323;
  transform: scale(1.01);
}
.projects__content__cards .card .card__img__DCCS {
  background-image: url("../Images/DCCS.png");
  height: 250px;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.projects__content__cards .card .card__img__mdb {
  background-image: url("../Images/mdb.png");
  height: 250px;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.projects__content__cards .card .card__img__sae105 {
  background-image: url("../Images/sae105.png");
  height: 250px;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.projects__content__cards .card .card__img__to_do_list {
  background-image: url("../Images/to_do_list.png");
  height: 250px;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.projects__content__cards .card .card__img__sae203 {
  background-image: url("../Images/sae203.png");
  height: 250px;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.projects__content__cards .card .card__img__figma_watches {
  background-image: url("../Images/figma_watches.png");
  height: 250px;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.projects__content__cards .card .card__img__froggy {
  background-image: url("../Images/froggy.png");
  height: 250px;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.projects__content__cards .card .card__img__mandina-posters {
  background-image: url("../Images/mandina-posters.png");
  height: 250px;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.projects__content__cards .card .card__img__shinecrea-logo {
  background-image: url("../Images/shinecrea-logo.svg");
  height: 250px;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.projects__content__cards .card .card__img__sortir_dans_l_aube {
  background-image: url("../Images/sortir_dans_l_aube.png");
  height: 250px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50vh;
  width: 100%;
}
.contact .btn-stack {
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding: 5% 0 0 0;
}
.contact .btn-stack .stack {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border: 1px solid #bb2649;
  color: #bb2649;
  border-radius: 3px;
}
.contact .btn-stack .stack i {
  font-size: 1.7rem;
  color: #bb2649;
}
.contact .btn-stack .stack:hover, .contact .btn-stack .stack:focus {
  cursor: pointer;
  border-color: #fff;
  transition: all 200ms ease-out;
  color: #bb2649;
  background-color: #bb2649;
}
.contact .btn-stack .stack:hover i, .contact .btn-stack .stack:focus i {
  color: #fff;
}
.contact i {
  color: #fff;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  width: 100%;
}

.fade-in {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

@media screen and (max-width: 768px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .me {
    flex-direction: column-reverse;
    min-height: 80vh;
    max-height: 100vh;
    padding: 3% 0;
  }
  .me img {
    height: 80vw;
    width: 80vw;
    border-radius: 0;
  }
  .me .infos {
    width: 80vw;
  }
  .about {
    max-height: 100vh;
    align-items: flex-start;
    padding: 10% 5%;
    width: 90%;
  }
  .about p {
    width: 100%;
    font-size: 1.5rem;
    padding: 1% 0;
    margin-bottom: 40px;
  }
  .about .btn {
    font-size: 1.5rem;
    padding: 1.5% 5%;
    margin: 3% 0;
  }
  .projects .projects__content__cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
  }
  .projects .projects__content__cards .card {
    width: 40px;
  }
  .projects .projects__content .btn-stack {
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding: 3% 0 0 0;
  }
  .projects .projects__content .btn-stack .stack {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border: 1px solid #bb2649;
    color: #bb2649;
    border-radius: 3px;
    transition: all 300ms ease-out;
  }
  .projects .projects__content .btn-stack .stack i {
    color: #bb2649;
    font-size: 1.7rem;
    transition: all 300ms ease-out;
  }
  .projects .projects__content .btn-stack .stack:hover, .projects .projects__content .btn-stack .stack:focus {
    cursor: pointer;
    border-color: #fff;
    transition: all 300ms ease-out;
    color: #fff;
    background-color: #bb2649;
  }
  .projects .projects__content .btn-stack .stack:hover i, .projects .projects__content .btn-stack .stack:focus i {
    color: #fff;
    transition: all 300ms ease-out;
  }
  .contact .btn-stack {
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding: 5% 0 0 0;
  }
  .contact .btn-stack .stack {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border: 1px solid #bb2649;
    color: #bb2649;
    border-radius: 3px;
  }
  .contact .btn-stack .stack i {
    font-size: 1.7rem;
    color: #bb2649;
  }
  .contact .btn-stack .stack:hover, .contact .btn-stack .stack:focus {
    cursor: pointer;
    border-color: #fff;
    transition: all 200ms ease-out;
    color: #bb2649;
    background-color: #bb2649;
  }
  .contact .btn-stack .stack:hover i, .contact .btn-stack .stack:focus i {
    color: #fff;
  }
}
@keyframes lift-up {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.contact .special-btn {
  display: inline-block;
  transition: transform 0.5s ease;
}

.contact .special-btn.animate {
  animation: lift-up 0.6s ease forwards;
}

/*# sourceMappingURL=styles.css.map */
