// Mixins //

@mixin row{
    display: flex;
    flex-direction: row;
}

@mixin col{
    display: flex;
    flex-direction: column;
}


// Fin Mixins

// Variables //

$dark-grey: #808080;
$light-grey: #D1D1D1;
$dark: #232323;
$cta: #bb2649;
$light: #fff;

// fin Variables //

// *{
//     border: 1px solid red;
// }


body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: $dark;

    scroll-behavior: smooth;
    // background-color: $light;

    h1 {
        font-size: 2.5rem;   // 40px
    }
    
    h2 {
        font-size: 2rem;     // 32px
    }
    
    h3 {
        font-size: 1.75rem;  // 28px
    }
    
    h4 {
        font-size: 1.5rem;   // 24px
    }
    
    h5 {
        font-size: 1.25rem;  // 20px
    }
    
    h6 {
        font-size: 1rem;     // 16px
    }

    a{
        color: #000;
        text-decoration: none;
        transition: all 300ms ease-in;
    
        &:hover{
            color: $cta;
            transition: all 300ms ease-in;

        
        }
    }
    
    


}




main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: max-content;

    // border: 1px solid red;

    .btn{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0.5% 1.3% 0.5% 1.3%;
        // border: 1px solid red;
        border-radius: 20px;
        background-color: $cta;
        border: 1px solid transparent;
        color: $light;
        font-size: 1rem;
        transition: all 300ms ease-out;
       

        &:hover{
            cursor: pointer;
            transform: scale(1.1);
            display: flex;
            transition: all 300ms ease-out;
        }

        
    }
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #f0f0f0;
    width: 100%;
    box-sizing: border-box;
    padding: 0 3%;
    
    a {
        p {
            font-size: 1.5rem;
            transition: all 300ms ease-in;
        }

        &:hover{
            color: $cta;
            transition: all 300ms ease-in;
        }
    }

    // Bouton menu burger pour mobile
    .menu-toggle {
        display: none;
        font-size: 1.5rem;
        background: none;
        border: none;
        cursor: pointer;

        // Icône du burger
        i {
            color: #333;
        }
    }

    .main-nav {
        display: flex;

        ul {
            display: flex;
            list-style: none;
            gap: 2rem;

            li {
                a {
                    text-decoration: none;
                    color: #333;
                    font-weight: bold;

                    &:hover{
                        color: $cta;
                        transition: all 300ms ease-in;
                    }
                }
            }
        }
    }

    // Styles pour mobile
    @media (max-width: 768px) {

        //.header{} 

        justify-content: space-between;

        
        
        .menu-toggle {
            display: block; // Affiche le bouton menu burger
        }
        
        .main-nav {
            display: none; // Cache le menu par défaut
            flex-direction: column;
            background-color: #fff;
            position: absolute;
            top: 60px; // Ajuste selon la hauteur du header
            left: 0;
            width: 100%;
            padding: 1rem;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
            z-index: 1000;

            &.active {
                display: flex; // Affiche le menu lorsque la classe active est ajoutée
            }

            ul {
                flex-direction: column;
                gap: 1rem;

                li {
                    a {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}


.me{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    // border: 1px solid green;
    height: 90vh;
    // margin-bottom: 100px;

    h1{
        margin: 0;
    }
    
    h2{
        margin: 0;
        font-size: 1.4rem;
       font-weight: 400;
    }

    p{
        margin: 5px 0 0 0 ;
    }

    img{
        border-radius: 100%;
        height: 30vw;
        width: 30vw;
    }
}


.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70vh;
    color: $light;
    background-color: $dark;

    .btn{
        margin: 1%;

        &:hover{
            border: 1px solid $dark;
        }
        
    }



    // border: 1px solid red;

    p{
        width: 50vw;
    }
}


.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // border: 1px solid blue;
    // z-index: 4;
    width: 100%;

    height: max-content;
    min-height: 100vh;
    // max-height: 150vh;


    &__content{
        display: flex;
        flex-direction: column;
        width: 100%;
        // height: 100%;
        // max-height: 1000px;
        padding: 0 0 10px 0;
        align-items: center;

        // border: 1px solid red;

        z-index: 3;

        .btns-more-projects{
            z-index: 4;
            margin: 50px 0;
        }


        .btn-stack{
            display: flex;
            flex-direction: row;
            gap: 5px;
            padding: 3% 0 0 0;            

            .stack{
                width: 50px;
                height: 50px;
                background-color: $light;
                border: 1px solid $cta;
                color: $cta;
                border-radius: 3px;
                transition: all 300ms ease-out;

                i{
                    color: $cta;
                    font-size: 1.7rem;
                    transition: all 300ms ease-out;
                }

                
                &:hover, &:focus{
                    cursor: pointer;
                    border-color: $light;
                    transition: all 300ms ease-out;
                    color: $light;
                    background-color: $cta;
                    // transform: scale(1.01);

                    i{
                        color: $light;
                        transition: all 300ms ease-out;
                    }


                }

                

                
            }
        }
        
        
        

        &__cards{
            

            z-index: 1;

            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 20px;
            width: 90%;

            padding: 50px 0 100px 0;

            transition: all 300ms ease;


            // border: 1px solid pink;
            .card{

                &__content{
                    display: flex;
                    flex-direction: column;
                    // border: 1px solid green;

                    
                    gap: 10px;
                    padding: 7px 10px 5px 10px;

                    & > * {
                        margin: 0;

                    }

                   .icons-stack{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        // border: 1px solid $cta;
                        max-height: 25px;

                        i{
                            font-size: 1.5rem;
                            letter-spacing: 10px;
                        }

                        .icon-nuxt{
                            height: 18px;
                            // width: 24px;
                            padding-right: 7px
                            // border: 1px solid $cta;
                        }
                   }
    

                    .row{
                        @include row;
                        width: 100%;
                        justify-content: space-between;
                        // height: 30px;

                        & > * {
                            margin: 0;
                        }
                    }
                }


                display: flex;
                flex-direction: column;
                height: 270px;
                width: 23vw;
                min-width: 300px;

                border: 1px solid $light-grey;
                border-radius: 5px;

                padding: 10px;

                transition: all 200ms ease-in;

                &:hover{
                    border-color: $dark-grey;
                    transition: all 200ms ease-out;
                    color: $dark;
                    transform: scale(1.01);

                    
                }

                $projects: (
                    "DCCS": "DCCS.png",
                    "mdb": "mdb.png",
                    "sae105": "sae105.png",
                    "to_do_list": "to_do_list.png",
                    "sae203": "sae203.png",
                    "figma_watches": "figma_watches.png",
                    "froggy": "froggy.png",
                    "mandina-posters": "mandina-posters.png",
                    "shinecrea-logo": "shinecrea-logo.svg"
                );

                @each $project, $image in $projects {
                    .card__img__#{$project} {
                        background-image: url('../Images/#{$image}');
                        height: 250px;
                        width: 100%;
                        background-size: cover;
                        
                        background-position: center;
                    
                    }
                }


                
            }
        }
    }
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    width: 100%;
    // z-index: 7;

    
    .btn-stack{
        

        display: flex;
        flex-direction: row;
        // height: 50px;
        // width: 50px;
        gap: 5px;
        padding: 5% 0 0 0 ;

       

        // border: 1px solid green;
        
        

        .stack{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            background-color: #fff;
            border: 1px solid $cta;
            color: $cta;
            border-radius: 3px;

            i{
                font-size: 1.7rem;
                color: $cta;
            }

            &:hover, &:focus{
                cursor: pointer;
                border-color: $light;
                transition: all 200ms ease-out;
                color: $cta;
                background-color: $cta;
                // transform: scale(1.01);

                i{
                    color: $light;
                }

                
            }

            

            
        }
    }
    


    i{
        color: #fff;
    }
    
    // .links{
    //     display: flex;
    //     flex-direction: row;
    //     gap: 10px;

    //     // border: 1px solid red;

    //     a{
    //         display: flex;
    //         align-items: center;
    //         justify-content: center;
    //         height: 50px;
    //         width: 50px;
    //         border-radius: 200px;
    //         background-color: $cta;
    //         border: 1px solid #fff;

    //         &:hover{
    //             background-color: #fff;
    //             border: 1px solid $cta;

    //             i{
    //                 color: $cta;
    //             }
    //         }
    //     }
    // }

}


footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    width: 100%;
}


// Animation //

.fade-in {
    opacity: 0;
    transform: translateY(30px); // Décalé légèrement vers le bas
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  
    &.visible {
      opacity: 1;
      transform: translateY(0); // Élément reprend sa place
    }
  }
  

// Fin Animation //

// media queries

@media screen and (max-width: 768px){

    main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    header{
        nav{
            
        }
    }
    .me{
        flex-direction: column-reverse;
        min-height: 80vh;
        max-height: 100vh;
        padding: 3% 0;
        // gap: 40px;
        // border: 1px solid red;

        img{
            height: 80vw;
            width: 80vw;
            border-radius: 0;
        }

        .infos{
            width: 80vw;
        }

        & > *{
            // border: 1px solid green;
        }
    }

    .about{
        max-height: 100vh;
        align-items: flex-start;
        padding: 10% 5%;
        width: 90%;

        p{
            width: 100%;
            font-size: 1.5rem;
            padding: 1% 0;
            margin-bottom: 40px;
        }

        .btn{
            font-size: 1.5rem;
            padding: 1.5% 5%;
            margin: 3% 0;
        }
    }

    .projects{
        .projects__content{

            &__cards{
                display: flex;
                flex-direction: column;
                gap: 20px;
                width: 90%;
                // border: 1px solid red;

                .card{
                    
                    width: 40px;
                    // border: 1px solid orange;
                }
            }

            .btn-stack{
                display: flex;
                flex-direction: row;
                gap: 5px;
                padding: 3% 0 0 0;            
    
                .stack{
                    width: 50px;
                    height: 50px;
                    background-color: $light;
                    border: 1px solid $cta;
                    color: $cta;
                    border-radius: 3px;
                    transition: all 300ms ease-out;
    
                    i{
                        color: $cta;
                        font-size: 1.7rem;
                        transition: all 300ms ease-out;
                    }
    
                    &:hover, &:focus{
                        cursor: pointer;
                        border-color: $light;
                        transition: all 300ms ease-out;
                        color: $light;
                        background-color: $cta;
                        // transform: scale(1.01);
    
                        i{
                            color: $light;
                            transition: all 300ms ease-out;
                        }
                    }

                    
    
                }
            }
        }
    }

    .contact{
        .btn-stack{
            display: flex;
            flex-direction: row;
            // height: 50px;
            // width: 50px;
            gap: 5px;
            padding: 5% 0 0 0 ;
    
            .stack{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50px;
                height: 50px;
                background-color: #fff;
                border: 1px solid $cta;
                color: $cta;
                border-radius: 3px;
    
                i{
                    font-size: 1.7rem;
                    color: $cta;
                }
    
                &:hover, &:focus{
                    cursor: pointer;
                    border-color: $light;
                    transition: all 200ms ease-out;
                    color: $cta;
                    background-color: $cta;
                    // transform: scale(1.01);
    
                    i{
                        color: $light;
                    }
    
                    
                }
    
                
            }
        }
    }
}



